# OWN PACKAGES
git+https://github.com/Kaua-Matheus/py_logger.git

# API
fastapi[standard]
uv

# DB
SQLAlchemy
asyncpg
alembic
#psycopg2-binary
psycopg2

# Environment
python-dotenv
pydantic-settings

# Encryptation
bcrypt